@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Fondo gris claro */
  color: #1f2937; /* Texto gris oscuro */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}