.product-form-container {
  margin-top: 3rem;
  background-color: #1f1f1f;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.product-form-container h2 {
  text-align: center;
  color: #00c8b3;
  margin-bottom: 1rem;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.product-form label {
  color: #bbb;
  font-size: 0.9rem;
}

.product-form input,
.product-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #2c2c2c;
  color: white;
  font-size: 0.95rem;
}

.product-form textarea {
  min-height: 70px;
  resize: none;
}

.product-form button {
  padding: 12px;
  background-color: #00c8b3;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-form button:hover {
  background-color: #00a894;
}

.mensaje {
  text-align: center;
  margin-top: 1rem;
  color: #fff;
}
